body
{
background-color: black;
}

.title
{
color: red;
text-align: center;
height: 100px;
}


.item
{
display: grid;
grid-template-rows: 150px 150px 150px;
grid-template-columns: 150px 150px 150px 150px;
justify-content: center;
align-items: center;

}


.key4
{
position: relative;
margin-right: 250%;

}

.key5
{
position: relative;

}
.key6
{
grid-area: 1/4/3/5;
position: relative;
margin-top: 80%;
border-radius: 40px;

}
.key2
{
grid-area:2/2/3/3;
border-radius: 20px;
margin-left: 40%;


}
.key1
{
grid-area: 3/1/4/2;
margin-bottom: 100px;

}
.key3
{
grid-area: 3/3/4/4;

}
.key7
{
position: relative;
border-radius: 40px;
margin-right: 50%;

}
